/*admin*/

.header-admine {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    text-align: center;
    margin-top: 3.375rem;
  
  }
  
  .header-admine-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--color-light-hover);
    padding: 2rem 0;
    background-color: var(--color-white);
  
  }
  
  .container-admine {
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  
  
  .admine-sidebar {
    height: 100vh;
    width: 200px;
  }
  
  .admine-sidebar-menu {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--color-light-hover);
    background-color: var(--color-white);
    cursor: pointer;
  }
  
  
  .admine-sidebar-menu.active,
  .admine-sidebar-menu:active,
  .admine-sidebar-menu:focus,
  .admine-sidebar-menu:hover {
    background-color: var(--color-primary)!important;
    color: var(--color-white)!important;
  }
  
  .admine-main {
    padding: 2rem;
    padding-top: 6rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .admine-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: #1D7151;
  }
  
  .admine-title > * {
    display: inline
  }

/*추가한 내용*/

  table thead, tbody{
    text-align: center;
  }

  .confirm-btn {
    background-color: white;
    border: solid 1px #1D7151;
    color: #1D7151;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border-radius: 0.25rem;
    line-height: 40px !important;
    display: inline-block;
    text-align: center;
    font-size: 100% !important;
  }

  .confirm-submit {
    background-color: #1D7151;
    border: solid 1px #1D7151;
    color: white;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border-radius: 0.25rem;
    line-height: 40px !important;
    display: inline-block;
    text-align: center;
    font-size: 100% !important;
  }
  
  .infoBox {
    border: #F1F1F1 2px solid; 
    border-radius: 8px; 
    width: 500px; 
    height: 90px; 
    padding-left: 10px
  }

  .infoFile {
    width: 500px;
    height: 700px;
  }

  .confirmDetail{
    border: #1D7151 2px solid;
    border-radius: 8px;
    width: 500px;
    height: 90px;
  }

  .fileDiv {
    display: inline-block; 
    padding-right: 10%;
    padding-left: 10px;
    align-items: center;
  }

  .infoDiv {
    display: inline-block; 
    padding-left: 20%; 
    padding-right: 10px;
    align-items: center;
  }