
/*.pageContainer {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 16fr;
    grid-gap: 0.625rem;
    margin-bottom: 0.625rem;
    padding-top: calc(3rem + 80px);
}*/

/*
.chartbox {

}
.chartbox h4 {
    font-size: 0.9rem;
}
*/
.container-first h1 {
    text-align: center;
}
.chart-box {
    margin: auto;
    padding-top: 1.5rem;
    width: 1000px;
}
.chart-box h4 {
    padding-bottom: 0.5rem;
}
.chart-navbar {
    padding: 3rem 0;
    text-align: center;
    background-color: var(--color-white);
}

.chart-navbar-box {
    cursor: pointer;
    border: 2px solid var(--color-light-hover);
    border-radius: 10px;
    padding: .7rem;
    margin: 1rem;
}

.chart-navbar-box.active,
.chart-navbar-box:active,
.chart-navbar-box:focus,
.chart-navbar-box:hover {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
}
