
/*.pageContainer {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 1fr 16fr;
    grid-gap: 0.625rem;
    margin-bottom: 0.625rem;
    padding-top: calc(3rem + 80px);
}*/


.chartbox {

}
.chartbox h4 {
    font-size: 0.9rem;
}

