/* comment.css */
#comment ul {
  text-align: left;
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

#comment .no-select, #comment h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

#comment h1 {
  color: var(--color-dark);
  margin-top: 0;
}

#comment h2 {
  color: var(--color-primary);
  text-align: left;
  font-size: 1.5rem;
  text-transform: none;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
  padding: 1rem 1.5rem;
}

#comment p {
  color: var(--color-dark);
  text-align: left;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  padding: 0;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

#comment span {
  text-align: right;
  position: relative;
  z-index: 2;
  margin-top: 2rem;
  margin-left: 0.5rem;
}


#comment ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

#comment ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: #fff;
  border: solid 1px var(--color-secondary);
  border-radius: .5rem;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent;
}

#comment ul li + li {
  margin-top: 15px;
}

#comment ul li:last-of-type {
  padding-bottom: 0;
}

#comment ul li .caret {
  position: absolute;
  margin-top: 1.6rem;
  right: 1rem;
}

#comment ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}

#comment ul li input[type=checkbox]:checked ~ h2 {
  color: var(--color-dark);
}

#comment ul li input[type=checkbox]:checked ~ h2 svg path {
  fill: black; /* Change the color to black or any desired color */
}

#comment ul li input[type=checkbox]:checked ~ p {
  max-height: 0;
  transition: .3s;
  opacity: 0;
}

#comment ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}

#comment ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

#comment ul li input[type=checkbox]:checked ~ div {
  display: none;
}

#comment hr {
  text-align: center;
  width: 100%;
}


/* #comment div input {
  pointer-events:none;
} */

.commentI {
  /*margin: 1rem;
  width: 87%;*/
  height: 5rem;
}

#comment ul li input[type=checkbox]:not(:checked) ~ .m-21 {
  display: none;
}

#comment ul li input[type=checkbox]:checked ~ .m-21 {
  display: block;
}

.flexing {
  display: flex;
}

.commentWidth {
  width: 100% !important;
}

.up {
  z-index: 999;
}

.mt-1 {
  margin-top: 4.5rem !important;
}

.commentDisable {

  height: 5rem;

}

/*return (
  <ul id="comment" className={commentStyles.commentList}>
    <li>
      <input type="checkbox"></input>
      <i></i>
      <h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="24"
          viewBox="0 0 26 24"
          fill="none"
          style={{ transform: 'translateY(4px)' }}
        >
        <path d="M13 24C12.1656 24 11.3795 23.6104 10.8233 22.9314L9.0093 20.705C8.97302 20.6605 8.82791 20.6048 8.76744 20.5937H8.16279C3.12 20.5937 0 19.3358 0 13.0798V7.51391C0 2.59369 2.81767 0 8.16279 0H17.8372C23.1823 0 26 2.59369 26 7.51391V13.0798C26 18 23.1823 20.5937 17.8372 20.5937H17.2326C17.1358 20.5937 17.0512 20.6382 16.9907 20.705L15.1767 22.9314C14.6205 23.6104 13.8344 24 13 24ZM8.16279 1.66976C3.83349 1.66976 1.81395 3.52876 1.81395 7.51391V13.0798C1.81395 18.1113 3.68837 18.9239 8.16279 18.9239H8.76744C9.38419 18.9239 10.0856 19.2468 10.4605 19.7032L12.2744 21.9295C12.6977 22.4416 13.3023 22.4416 13.7256 21.9295L15.5395 19.7032C15.9386 19.2134 16.5674 18.9239 17.2326 18.9239H17.8372C22.1665 18.9239 24.186 17.0649 24.186 13.0798V7.51391C24.186 3.52876 22.1665 1.66976 17.8372 1.66976H8.16279Z" fill="#10573C"/>
        <path d="M12.9998 11.9666C12.3226 11.9666 11.7905 11.4657 11.7905 10.8534C11.7905 10.2412 12.3347 9.74025 12.9998 9.74025C13.6649 9.74025 14.2091 10.2412 14.2091 10.8534C14.2091 11.4657 13.677 11.9666 12.9998 11.9666Z" fill="#10573C"/>
        <path d="M17.8372 11.9666C17.16 11.9666 16.6279 11.4657 16.6279 10.8534C16.6279 10.2412 17.1721 9.74025 17.8372 9.74025C18.5023 9.74025 19.0465 10.2412 19.0465 10.8534C19.0465 11.4657 18.5144 11.9666 17.8372 11.9666Z" fill="#10573C"/>
        <path d="M8.16243 11.9666C7.48522 11.9666 6.95312 11.4657 6.95312 10.8534C6.95312 10.2412 7.49731 9.74025 8.16243 9.74025C8.82754 9.74025 9.37173 10.2412 9.37173 10.8534C9.37173 11.4657 8.83964 11.9666 8.16243 11.9666Z" fill="#10573C"/>
        </svg>  댓글 {review.reviewCommentList ? review.reviewCommentList.length : 0}
    </h2>
          <div className={commentStyles.commentContainer} onClick={(e) => e.stopPropagation()}>

          {review.reviewCommentList && review.reviewCommentList.map(comment => (
              <div key={comment.revCommentCode}>
                <div className="m-21">
                  <h5>{comment.memberCode}</h5>
                  {comment.revCommentContent}
          
                  <div>
                    {endDate}  |  <button onClick={handleDeleteComment}>삭제</button>
                  </div>
                </div>
                <hr className="w-70"/>
              </div>
            ))}
          </div>
          <div className="w-100">
          <div className="commentInputContainer">
          <form onSubmit={handleCommentSubmit}>
              <input
                className="commentInput commentI"
                name="revCommentContent"
                type="text"
                placeholder="댓글을 입력해주세요 ❤️"
                onChange={onChangeHandler}
              >
              </input>
              <button className="button button-primary" type="submit">댓글등록</button>
          </form>
          </div>
          </div>
    </li>
  </ul>
);*/