.wrapper-class {

    margin: -15% 5% 5% 5%;
    
  }
  .editor-container {
    background-color: #ffffff;
    padding: 0.3rem;
    border: 1px solid #ccc;

  }
  .toolbar-class {
    border: 1px solid #ccc;
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    justify-items: center;
    padding: 0.5rem;
  }
  
  .rdw-editor-main {
    height: 30rem;
  }
  
  .draft {
    flex-direction: column;
  }

  .bookmark-button {
    background-color: #1E7151;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px 4px 0 0;
    cursor: pointer;

  }

  .preview {
    background-color: #ffffff;
    padding: 0.4rem;
    border: 1px solid #ccc;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 30rem;
  }