.wrapper-class{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.editor {
height: 400px !important;
border: 1px solid #f1f1f1 !important;
padding: 5px !important;
border-radius: 2px !important;
}

 .styled.div{
  position: relative;
  border: 0.0625rem solid #d7e2eb;
  border-radius: 0.75rem;
  overflow: hidden;
  padding: 1.5rem;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 4rem;
}