.pay-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pay-box > input {
  width: 23%;
}

.pay-container {
  border: 1px solid #dbdbdb;
  height: 110px;
  gap: 4px;
}

.pay-backgroundColor {
  background-color: #FAFAFA;
}

.pay-color-gray {
  color: #8A8484;
}

.pay-color-green {
  color: #1D7151;
}

.pay-anno{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.pay-anno div {
  display: flex;
}

.pay-anno2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#finalAmount, #pointAmount {
  font-family: 'Pretendard Variable', sans-serif !important;
  font-size: 1.60em;
  color: #1D7151;
  text-align: right;
  font-weight: 500;
}

.search-section {
  border: 1px solid #DBDBDB;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem !important;
}

.search-section button {
  height: 50px !important;
}

.total-amount {
  justify-content: flex-end !important;
  border-bottom: 1px solid #DBDBDB;
  height: 30px;
  margin-bottom: 1rem !important;
}